
/* COLOR FILTER STYLING */

.color-filter-parent {
    display:inline-block;
    height: 30px;
    width: 30px;
    margin-right: 5px;
}

.color-filter {
    height: 20px;
    width: 20px;
    border: 1px solid #0f0f0f;
}

.color-filter-parent:hover {
    cursor: pointer;
}

.color-filter-parent:hover .color-filter {
    width: 28px;
    height: 28px;
}


/* COLOR FILTER IS SELECTED */

.color-selected {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    opacity: 0.65;
}


/* COLOR FILTER TAG TO SHOW WHICH COLORS ARE ACTIVE */

.color-filter-active {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-top: 4px;
}

#activeColorFilters .activeFilter {
    padding: 0 8px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: #e1e1e8;
    color: #000;
    line-height: 2.1;
    display: inline-block;
}

#activeColorFilters .activeFilter:hover {
    cursor: pointer;
    color: #000;
    text-decoration: none;
}

#activeColorFilters .activeFilter .color-filter-active {
    margin-top: 4px;
    margin-bottom: -5px;
}